Source: ion-java
Section: java
Priority: optional
Maintainer: Yury Zavarin <yzavarin@ebi.ac.uk>
Build-Depends:
 debhelper (>= 9),
 default-jdk,
 junit4 (>= 4.12),
 libmaven-antrun-plugin-java,
 libmaven-jar-plugin-java,
 libsurefire-java,
 maven-debian-helper (>= 1.5),
Build-Depends-Indep:
Standards-Version: 3.9.7

Package: libion-java
Architecture: all
Depends:
 ${misc:Depends},
 ${maven:Depends},
Description: A Java implementation of the Ion data notation
